
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Progreso</h4>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" 
                            role="progressbar" [attr.ariaValuenow] = "porcentaje1" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" 
                            [style.width] = "porcentaje1 + '%'">
                        </div>
                    </div>    
                    <br/>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
                            role="progressbar" [attr.ariaValuenow] = "porcentaje2" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" 
                            [style.width] = "porcentaje2 + '%'">
                        </div>
                    </div>  
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- <div class="input-group">
                    <span class="input-group-btn"> 
                        <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
                            <i class="mdi mdi-minus">
                            </i>
                        </button>
                    </span>
                    <input type="number" name="porcentaje" [(ngModel)] = "porcentaje" class="form-control" placeholder="Product Name">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
                            <i class="mdi mdi-plus">
                            </i>
                        </button>
                    </span>
                </div> -->
                <app-increase (cambioValor)="porcentaje1 = $event" nombre="Progress Azul" [porcentaje]="porcentaje1"></app-increase>
            </div>
        </div>
    </div>
    

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increase (cambioValor)="porcentaje2 = $event" nombre="Progress Verde" [porcentaje]="porcentaje2"></app-increase>
            </div>
        </div>
    </div>

</div>

