<div class="col-12 animated fadeInRight">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <input #input type="text" class="form-control" placeholder="Buscar Hospital" (keyup)="searchHospital(input.value)">

                </div>
            </div>
        </div>
    </div>
    
    <div class="row" *ngIf="loading">
        <div class="col-sm-12">
            <div class="alert alert-warning text-center">
                <strong>Cargando...</strong>
                <br>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
                <br>
                <span>Por Favor Espere...</span>
            </div>
        </div>    
    </div>

    

    <div class="row" *ngIf="!loading">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="text-right">
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" (click)="registerHospital()">
                            <i class="fa fa-plus"></i>
                            Crear Hospital
                        </button>
                    </div>  
                    

                    <h3>Listado de Hospitales (<small>{{totalRegistros}}</small>)</h3>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Foto</th>                                
                                <th>Nombre</th>                                                             
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitals">
                                <td class="w70">
                                    <img (click)="showModal('hospital', hospital._id, hospital.image, false)" [src]="hospital.image | image: 'hospital'" class="img-profile-list pointer"/>
                                </td>
                                <td>
                                    <input [(ngModel)]="hospital.name" name="name" type="text" class="form-control" placeholder="Nombre del Hospital" >
                                </td>                                                                                         
                                <td>
                                    <button class="btn btn-primary" (click)="updateHospital(hospital)">
                                        <i class="fa fa-save"></i>
                                    </button>
                                    <button class="btn btn-danger" (click)="deleteHospital(hospital)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-secondary" (click)="changePage(-5)">
                        Anterior
                    </button>

                    <button class="btn btn-secondary" (click)="changePage(+5)">
                        Siguiente
                    </button>

                </div>
            </div>
        </div>
    </div>

</div>