<div class="col-12 animated fadeInRight">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <input #input type="text" class="form-control" placeholder="Buscar Medicos" (keyup)="searchDoctor(input.value)">

                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="loading">
        <div class="col-sm-12">
            <div class="alert alert-warning text-center">
                <strong>Cargando...</strong>
                <br>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
                <br>
                <span>Por Favor Espere...</span>
            </div>
        </div>    
    </div>

    <div class="row" *ngIf="!loading">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="text-right">
                        <button [routerLink]="['/doctor','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                            <i class="fa fa-plus"></i>
                            Registrar Médico
                        </button>
                    </div>  
                    

                    <h3>Listado de Medicos (<small>{{totalRegistros}}</small>)</h3>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Foto</th>                                
                                <th>Nombre</th> 
                                <th>Hospital</th>                                                            
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doctor of doctors">
                                <td class="w70">
                                    <img (click)="showModal('doctor', doctor._id, doctor.image, false)" [src]="doctor.image | image: 'doctor'" class="img-profile-list pointer"/>
                                </td>
                                <td>
                                    <!-- <input [(ngModel)]="doctor.name" name="name" type="text" class="form-control" placeholder="Nombre del Hospital" > -->
                                    {{doctor.name}}
                                </td> 
                                <td>
                                    {{doctor.hospital.name}}
                                </td>                                                                                        
                                <td>
                                    <button class="btn btn-primary" [routerLink]="['/doctor', doctor._id]">
                                        <i class="fa fa-save"></i>
                                    </button>
                                    <button class="btn btn-danger" (click)="deleteDoctor(doctor._id)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>                            
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-secondary" (click)="changePage(-5)">
                        Anterior
                    </button>

                    <button class="btn btn-secondary" (click)="changePage(+5)">
                        Siguiente
                    </button>

                </div>
            </div>
        </div>
    </div>

</div>