        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li class="user-profile">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img [src]="user.image | image: 'user'" alt="user" alt="user" /><span class="hide-menu">{{user.name}} </span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a routerLink="/profile" routerLinkActive="active">Mi Perfil </a></li>
                                    <li><a href="#">Mi Balance</a></li>
                                    <li><a href="#">Inbox</a></li>
                                    <li><a routerLink="/account-settigns" routerLinkActive="active">Configuración de Cuenta</a></li>
                                    <li><a (click)="_userService.logout()" class="pointer">Logout</a></li>
                                </ul>
                            </li>
                           
                            <li class="nav-devider"></li>
                            <li class="nav-small-cap">PERSONAL</li>
                            <li *ngFor="let menu of _sidebar.menu"> 
                                <a class="has-arrow waves-effect waves-dark"
                                aria-expanded="false"><i [class]="menu.icono"></i><span class="hide-menu">{{menu.titulo}} <span 
                                class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}</span></span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li *ngFor="let submenu of menu.submenu">
                                        <a [routerLink]="[submenu.url]" routerLinkActive="active">{{submenu.titulo}} </a>
                                    </li>
                                    
                                </ul>
                            </li>                            
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->