{{leyenda}}
<div class="input-group">
    <span class="input-group-btn"> 
        <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
            <i class="mdi mdi-minus">
            </i>
        </button>
    </span>
    <input #txtProgress type="number" name="porcentaje" [(ngModel)] = "porcentaje" (ngModelChange)="onChange($event)" class="form-control" min="0" max="100">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
            <i class="mdi mdi-plus">
            </i>
        </button>
    </span>
</div>