<div class="row animated fadeInRight">

    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información de la Empresa</h4>
                <h6 class="card-subtitle">{{companyUser.DS_COMPANY}}</h6>
                <form ngNativeValidate #form="ngForm" (ngSubmit)="saveCompany(form.value)" class="form p-t-20">
                    
                    <div class="form-group">
                        <label for="exampleInputuname">R.U.C</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="companyUser.ID_COMPANY" name="ID_COMPANY" type="text" class="form-control" placeholder="Ruc de la Empresa" required>
                            </div>
                    </div> 

                    <div class="form-group">
                        <label for="exampleInputuname">Nombre de la Empresa</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="companyUser.DS_COMPANY" name="DS_COMPANY" type="text" class="form-control" placeholder="Nombre de la Empresa" required>
                            </div>
                    </div>              
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="companyUser.EMAIL" name="EMAIL" type="email" class="form-control" placeholder="email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Telefono</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-mobile"></i></div>
                            <input [ngModel]="companyUser.PHONE" name="PHONE" type="text" class="form-control" placeholder="Telefono Contacto" required >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Nombre Contacto</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-id-badge"></i></div>
                            <input [ngModel]="companyUser.CONTACT" name="CONTACT" type="text" class="form-control" placeholder="Nombre de Contacto" required>
                        </div>
                    </div> 
                    
                    <div class="form-group">
                        <label for="exampleInputuname">Dirección</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-home"></i></div>
                            <textarea [ngModel]="companyUser.ADDRESS" name="ADDRESS" type="text" class="form-control" placeholder="Dirección de la empresa" required></textarea>
                        </div>
                    </div> 

                    <button *ngIf="ID_COMPANY_USER == 0" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>

                    <button *ngIf="ID_COMPANY_USER > 0" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Modificar
                    </button>                    

                    <button *ngIf="ID_COMPANY_USER > 0" type="submit" class="btn btn-danger waves-effect waves-light m-r-10">
                        <i class="fa fa-trash-o"></i>
                        Eliminar
                    </button>
                </form>            
            </div>
        </div>
    </div>

    <div class="col-lg-5" *ngIf="ID_COMPANY_USER > 0">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Imagen de la empresa</h4>
                

                <img *ngIf="!tempImage" [src]="companyUser.IMAGE | image: 'company'" class="img-profile">
                <img *ngIf="tempImage" [src]="tempImage" class="img-profile">

                <input type="file" (change)="selectImage($event.target.files[0])" [disabled]="google">

                <br><br>

                <button type="button" class="btn btn-success waves-effect waves-light m-r-10" (click)="changeImage()" [disabled]="!imageUpload">
                    <i class="fa fa-save"></i>
                    Subir Imagen
                </button>
            </div>
        </div>
    </div>

</div>
